
   .container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

div#container
{
   width: 1003px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #E8F0FC;
   background-image: url('2b24db77-d6a5-43ee-bfe7-92b6a5091e4b.svg');
   background-attachment: scroll;
   background-position: left top;
   background-repeat: no-repeat;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
   overflow-y: hidden;
}
#Layer3
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Layer1
{
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 16px;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 17px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#Layer2
{
   background-color: #FFF8E5;
   background-image: none;
   border-radius: 16px;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_textView 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_textView div
{
   text-align: left;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text18 div
{
   text-align: left;
}
#wb_Text20 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text20 div
{
   text-align: left;
}
#wb_Text21 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text21 div
{
   text-align: left;
}
#wb_Text22 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text22 div
{
   text-align: left;
}
#wb_Text23 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text23 div
{
   text-align: left;
}
#wb_Text24 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text24 div
{
   text-align: left;
}
#wb_Text25 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text25 div
{
   text-align: left;
}
#wb_Text26 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text26 div
{
   text-align: left;
}
#wb_Text27 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #DC143C;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text27 div
{
   text-align: left;
}
#Button1
{
   box-sizing: border-box;
   line-height: 41px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #C5C5C5;
   border-radius: 100px;
   background-color: #FFFFFF;
   background-image: none;
   color: #454545;
   cursor: pointer;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:focus
{
   outline: 0;
}
#wb_Icon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   line-height: 27px;
   vertical-align: top;
}
#wb_Icon1 a
{
   text-decoration: none;
}
#wb_Icon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#Icon1
{
   overflow: visible;
   vertical-align: top;
   width: 100%;
   height: 100%;
}
#Icon1
{
   fill: #444444;
   display: inline-block;
   font-size: 21px;
   vertical-align: middle;
}
#wb_Icon1:hover #Icon1
{
   fill: #444444;
}
#wb_Icon1
{
   position: absolute;
   left: 444px;
   top: 16px;
   width: 21px;
   height: 27px;
   text-align: center;
   z-index: 21;
}
#wb_textView
{
   position: absolute;
   left: 25px;
   top: 186px;
   width: 189px;
   height: 15px;
   z-index: 4;
}
#wb_Text18
{
   position: absolute;
   left: 25px;
   top: 436px;
   width: 114px;
   height: 15px;
   z-index: 10;
}
#wb_Text17
{
   position: absolute;
   left: 25px;
   top: 266px;
   width: 75px;
   height: 15px;
   z-index: 6;
}
#wb_Text4
{
   position: absolute;
   left: 7px;
   top: 12px;
   width: 366px;
   height: 45px;
   z-index: 0;
}
#Button1
{
   position: absolute;
   left: 433px;
   top: 7px;
   width: 43px;
   height: 45px;
   z-index: 19;
}
#wb_Text16
{
   position: absolute;
   left: 25px;
   top: 404px;
   width: 131px;
   height: 15px;
   z-index: 9;
}
#wb_Text15
{
   position: absolute;
   left: 25px;
   top: 321px;
   width: 98px;
   height: 15px;
   z-index: 7;
}
#wb_Text14
{
   position: absolute;
   left: 25px;
   top: 346px;
   width: 62px;
   height: 15px;
   z-index: 8;
}
#wb_Text7
{
   position: absolute;
   left: 25px;
   top: 160px;
   width: 51px;
   height: 15px;
   z-index: 3;
}
#wb_Text13
{
   position: absolute;
   left: 25px;
   top: 240px;
   width: 114px;
   height: 15px;
   z-index: 5;
}
#wb_Text22
{
   position: absolute;
   left: 295px;
   top: 240px;
   width: 110px;
   height: 15px;
   z-index: 18;
}
#wb_Text23
{
   position: absolute;
   left: 295px;
   top: 266px;
   width: 80px;
   height: 30px;
   z-index: 13;
}
#wb_Text20
{
   position: absolute;
   left: 295px;
   top: 160px;
   width: 103px;
   height: 15px;
   z-index: 11;
}
#wb_Text21
{
   position: absolute;
   left: 295px;
   top: 186px;
   width: 80px;
   height: 15px;
   z-index: 12;
}
#wb_Text26
{
   position: absolute;
   left: 295px;
   top: 404px;
   width: 41px;
   height: 15px;
   z-index: 16;
}
#Layer1
{
   position: absolute;
   text-align: left;
   left: 4px;
   top: 8px;
   width: 430px;
   height: 543px;
   z-index: 20;
}
#wb_Text27
{
   position: absolute;
   left: 295px;
   top: 436px;
   width: 62px;
   height: 15px;
   z-index: 17;
}
#Layer2
{
   position: absolute;
   text-align: left;
   left: 25px;
   top: 72px;
   width: 380px;
   height: 67px;
   z-index: 2;
}
#wb_Heading1
{
   position: absolute;
   left: 76px;
   top: 20px;
   width: 278px;
   height: 24px;
   z-index: 1;
}
#wb_Text24
{
   position: absolute;
   left: 295px;
   top: 321px;
   width: 27px;
   height: 15px;
   z-index: 14;
}
#Layer3
{
   position: absolute;
   text-align: left;
   left: 297px;
   top: 159px;
   width: 491px;
   height: 560px;
   z-index: 42;
}
#wb_Text25
{
   position: absolute;
   left: 295px;
   top: 346px;
   width: 59px;
   height: 15px;
   z-index: 15;
}
@media only screen and (max-width: 390px) and (orientation: landscape)
{
div#container
{
   width: 390px;
}
body
{
   background-color: #E8F0FC;
   background-image: url('2b24db77-d6a5-43ee-bfe7-92b6a5091e4b.svg');
   background-attachment: scroll;
   background-position: left top;
   background-repeat: no-repeat;
}
#Layer3
{
   left: 297px;
   top: 159px;
   width: 491px;
   height: 560px;
   visibility: visible;
   display: block;
}
#Layer1
{
   left: 4px;
   top: 8px;
   width: 430px;
   height: 543px;
   visibility: visible;
   display: block;
}
#wb_Heading1
{
   left: 76px;
   top: 20px;
   width: 278px;
   height: 24px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Layer2
{
   left: 25px;
   top: 72px;
   width: 380px;
   height: 67px;
   visibility: visible;
   display: block;
}
#wb_Text4
{
   left: 7px;
   top: 12px;
   width: 366px;
   height: 45px;
   visibility: visible;
   display: inline;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   left: 25px;
   top: 160px;
   width: 51px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_textView
{
   left: 25px;
   top: 186px;
   width: 189px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_textView
{
   margin: 0;
   padding: 0;
}
#wb_Text13
{
   left: 25px;
   top: 240px;
   width: 114px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text13
{
   margin: 0;
   padding: 0;
}
#wb_Text14
{
   left: 25px;
   top: 346px;
   width: 62px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text14
{
   margin: 0;
   padding: 0;
}
#wb_Text15
{
   left: 25px;
   top: 321px;
   width: 98px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text15
{
   margin: 0;
   padding: 0;
}
#wb_Text16
{
   left: 25px;
   top: 404px;
   width: 131px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text16
{
   margin: 0;
   padding: 0;
}
#wb_Text17
{
   left: 25px;
   top: 266px;
   width: 75px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text17
{
   margin: 0;
   padding: 0;
}
#wb_Text18
{
   left: 25px;
   top: 436px;
   width: 114px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text18
{
   margin: 0;
   padding: 0;
}
#wb_Text20
{
   left: 295px;
   top: 160px;
   width: 103px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text20
{
   margin: 0;
   padding: 0;
}
#wb_Text21
{
   left: 295px;
   top: 186px;
   width: 80px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text21
{
   margin: 0;
   padding: 0;
}
#wb_Text22
{
   left: 295px;
   top: 240px;
   width: 110px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text22
{
   margin: 0;
   padding: 0;
}
#wb_Text23
{
   left: 295px;
   top: 266px;
   width: 80px;
   height: 30px;
   visibility: visible;
   display: inline;
}
#wb_Text23
{
   margin: 0;
   padding: 0;
}
#wb_Text24
{
   left: 295px;
   top: 321px;
   width: 27px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text24
{
   margin: 0;
   padding: 0;
}
#wb_Text25
{
   left: 295px;
   top: 346px;
   width: 59px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text25
{
   margin: 0;
   padding: 0;
}
#wb_Text26
{
   left: 295px;
   top: 404px;
   width: 41px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text26
{
   margin: 0;
   padding: 0;
}
#wb_Text27
{
   left: 295px;
   top: 436px;
   width: 62px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text27
{
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 433px;
   top: 7px;
   width: 43px;
   height: 45px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button1
{
   line-height: 41px;
}
#wb_Icon1
{
   left: 444px;
   top: 16px;
   width: 21px;
   height: 27px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Icon1
{
   line-height: 27px;
}
#Icon1
{
   width: 21px;
   height: 27px;
}
#Icon1
{
   line-height: 27px;
   font-size: 21px;
   width: 20px;
}
}
 /* Preloader styles */ #preloader { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 9999; background-color: #fff; display: flex; justify-content: center; align-items: center; } .image {  width: 300px; height: 300px; margin: -60px 0 0 -60px; -webkit-animation: spin 1s linear infinite; -moz-animation: spin 1s linear infinite; animation: spin 1s linear infinite; } @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } } @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } } @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } } 